alias: Downstairs Bedroom Light Control
description: ""
triggers:
  - topic: zigbee2mqtt/Knob 1/action
    trigger: mqtt
  - platform: time
    at: "05:45:00"
  - platform: time
    at: "20:00:00"
actions:
  - choose:
      - conditions:
          - condition: template
            value_template: "{{ trigger.payload == 'single' }}"
        sequence:
          - target:
              entity_id: light.downstairs_bedroom_lights_ha
            action: light.toggle
      - conditions:
          - condition: template
            value_template: "{{ trigger.payload == 'double' }}"
        sequence:
          - action: switch.toggle
            target:
              entity_id: >-
                switch.adaptive_lighting_sleep_mode_downstairs_bedroom_adaptive_lights
          - action: adaptive_lighting.change_switch_settings
            target:
              entity_id: switch.adaptive_lighting_downstairs_bedroom_adaptive_lights
            data:
              use_defaults: current
              prefer_rgb_color: >-
                {{
                is_state('switch.adaptive_lighting_sleep_mode_downstairs_bedroom_adaptive_lights',
                'on') }}
      - conditions:
          - condition: template
            value_template: "{{ trigger.platform == 'time' and trigger.now().strftime('%H:%M') == '05:45' }}"
        sequence:
          - action: switch.turn_off
            target:
              entity_id: >-
                switch.adaptive_lighting_sleep_mode_downstairs_bedroom_adaptive_lights
          - action: adaptive_lighting.change_switch_settings
            target:
              entity_id: switch.adaptive_lighting_downstairs_bedroom_adaptive_lights
            data:
              use_defaults: current
              prefer_rgb_color: false
      - conditions:
          - condition: template
            value_template: "{{ trigger.platform == 'time' and trigger.now().strftime('%H:%M') == '20:00' }}"
        sequence:
          - action: switch.turn_on
            target:
              entity_id: >-
                switch.adaptive_lighting_sleep_mode_downstairs_bedroom_adaptive_lights
          - action: adaptive_lighting.change_switch_settings
            target:
              entity_id: switch.adaptive_lighting_downstairs_bedroom_adaptive_lights
            data:
              use_defaults: current
              prefer_rgb_color: true
      - conditions:
          - condition: template
            value_template: "{{ trigger.payload in ['rotate_right', 'rotate_left'] }}"
        sequence:
          - variables:
              current: >-
                {{ state_attr('light.downstairs_bedroom_lights', 'brightness') |
                default(128) }}
              step: 0.1
              direction: >-
                {% if trigger.payload == 'rotate_right' %}1{% else %}-1{% endif
                %}
              perceptual: "{{ (current / 255) ** (1/2.2) }}"
              new_perceptual_raw: "{{ perceptual + (step * direction) }}"
              new_perceptual: |
                {% if new_perceptual_raw < 0 %}
                  0
                {% elif new_perceptual_raw > 1 %}
                  1
                {% else %}
                  {{ new_perceptual_raw }}
                {% endif %}
              new_brightness: "{{ (new_perceptual ** 2.2 * 255) | round }}"
          - action: light.turn_on
            target:
              entity_id: light.downstairs_bedroom_lights_ha
            data:
              brightness: "{{ new_brightness }}"
mode: queued
